.menu-contact {
    background-image: linear-gradient(rgba(19, 13, 1, 0.7), rgba(19, 13, 1, 0.7)), url("https://ofefoods.com/storage/2021/07/afang-soup.jpeg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border-bottom-left-radius: 50% 150px;
    border-bottom-right-radius: 50% 150px;
    padding-bottom: 50px;
}

.menu-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1rem;
}

.category-btn-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(229, 231, 235);
}

.price-filter-btn-container {
    display: flex;
    flex-direction: column;
}

.category-btn {
    color: rgb(55, 65, 81);
    background-color: rgb(229, 231, 235);
    border-radius: 2px;
    font-size: 2rem;
    line-height: 2.5rem;
    width: 100%;
    padding: 1.5rem 0;
}

.category-btn:hover {
    background-color: transparent;
}

.category-btn-clicked, .category-btn-clicked:hover {
    background-color: #d89423;
    color: #fff;
}
 
@media only screen and (max-width: 768px) {
    .menu-contact {
        border-bottom-left-radius: 50% 50px;
        border-bottom-right-radius: 50% 50px;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }

    .category-btn-container, .price-filter-btn-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: -150%;
        height: 100vh;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        backdrop-filter: blur(8px);
        z-index: 9999;
        transition:  all 0.3s ease;
    }

    .show-category-btn-container, .show-price-filter-btn-container {
        top: 0;
    }

    .category-btn {
        background-color: transparent;
        color: #fff;
    }
}

